/*

XCode style (c) Jan Dammshäuser <mail@jandamm.de>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: black;
}

/* Plain Text */
.hljs-class .hljs-title,
.hljs-function .hljs-title {
  color: #000;
}

/* Comments Documentation Markup (Keywords)  */
.hljs-comment {
  color: #0433FF;
}

/* Strings */
.hljs-string {
  color: #929292;
}

/* Numbers */
.hljs-number {
  color: #FF40FF;
}

/* Keywords */
.hljs-keyword,
.hljs-meta,
.hljs-literal {
  color: #FF9300;
}

/* Attributes */
.hljs-attributes {
  color: #942192;
}

/* Project: Class Types */
.hljs-type {
  color: #FF2600;
}

/* Project: Method */
.hljs-method {
  color: #00FDFF;
}

/* Project: Variables */
.hljs-variable {
  color: #FFFB00;
}

/* Other: Class Types */
.hljs-type .hljs-built_in,
.hljs-built_in_type {
  color: #00F900;
}

/* Other: Method */
.hljs-method .hljs-built_in {
  color: #00FDFF;
  font-weight: bold;
}

/* Other: Variables */
.hljs-variable .hljs-built_in {
  color: #FFFB00;
  font-weight: bold;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
